a {
    color: #ff0;
}
.no-style-link {
    text-decoration: none;
}
.todo-list-title {
    color: #ff0;
}
.trash {
    height: 60px;
    width: auto;
}
.inline {
    float: left;
}
.clearboth {
    clear: both;
}
.check {
    height: 40px;
    width: auto;
}